body {
	font: normal 18px/1.5 "Helvetica Neue", sans-serif;
}

.flex-wrapper {
	display: flex;
	height: 100vh;
}

.flex-wrapper a {
	position: relative;
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-transition: flex .4s;
	   -moz-transition: flex .4s;
	    -ms-transition: flex .4s;
	     -o-transition: flex .4s;
	        transition: flex .4s;
}

.flex-wrapper .one {
	background-image: url('http://res.cloudinary.com/doan/image/upload/v1482039943/artur-pokusin_ekeuqy.jpg');
	background-color: seablue;
	background-size: 1200px 800px;
}

.flex-wrapper .two {
	background-image: url('http://res.cloudinary.com/doan/image/upload/v1482039861/buzz-andersen_fy8fph.jpg');
	background-color: seablue;
	background-size: 1200px 800px;

}

.flex-wrapper .three {
	background-image: url('http://res.cloudinary.com/doan/image/upload/v1482040340/a3owknpciq8-alexandre-chambon_cjp338.jpg');
	background-color: seablue;
	background-size: 1200px 800px;

}

.flex-wrapper .four {
	background-image: url('http://res.cloudinary.com/doan/image/upload/v1482039905/tom-van-hoogstraten_kmi48r.jpg');
	background-color: seablue;
	background-size: 1200px 800px;

}

.flex-wrapper .five {
	background-image: url('http://res.cloudinary.com/doan/image/upload/v1482039951/wilson-ye_vwnwgh.jpg');
	background-color: seablue;
	background-size: 1200px 800px;

}

.flex-wrapper a:hover {
	flex: 3;
}

.flex-wrapper .overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 10px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: background-color .4s;
}

.flex-wrapper a:hover .overlay {
	background-color: rgba(0, 0, 0, .5);
}

.flex-wrapper .overlay-inner * {
	visibility: hidden;
	opacity: 0;
	transform-style: preserve-3d;
}

.flex-wrapper .overlay h2 {
	transform: translate3d(0, -60px, 0);
}

.flex-wrapper .overlay p {
	transform: translate3d(0, 60px, 0);
}

.flex-wrapper a:hover .overlay-inner * {
	opacity: 1;
	visibility: visible;
	transform: none;
	transition: all .3s .3s;
}

@media screen and (max-width: 800px) {
  .flex-wrapper {
    flex-direction: column;
  }
   
  .flex-wrapper a:hover {
    flex: 1;
  }
  
  .flex-wrapper a:hover .overlay {
    background-color: transparent;
  }
   
  .flex-wrapper .overlay h2,
  .flex-wrapper .overlay p {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}